*, ::after, ::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-black: rgb(9, 5, 65);
  --main-white: #F9F6F1;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Cormorant Garamond", serif;
  color: var(--main-black);
  background: var(--main-white);
  background: linear-gradient(180deg,rgb(255, 247, 233) 0%, rgb(236, 226, 213) 100%);
}

img {
  width: 100%;
  max-height: 750px;
  border-radius: 0.5em;
  object-fit: cover;
  object-position: center;
  display: block;
}

h1 {
  text-transform: capitalize;
  font-size: 4rem;
  line-height: 1;
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  line-height: 1.5;
}

section {
  padding: 1em;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10em;
}

button {
  cursor: pointer;
}

/* Flexes */

.hero-text, .about-section, .about-text, .poem, .contact-section, form {
  display: flex;
  flex-direction: column;
}

.hero-section, footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Hero Section */

.hero-section {
  min-height: 100vh;
  gap: 7em;
}

.hero-text {
  gap: 1.5em;
  max-width: 578px;
}

.tagline {
  font-size: 1.6rem;
  line-height: 1.3;
}
.buttons {
  display: flex;
  gap: 1em;
  margin-top: 0.3em;
}

.buttons > a {
  padding: 0.6em 1.2em;
  font-size: 1rem;
  text-transform: uppercase;
  border: 1px solid var(--main-black);
  border-radius: 0.5em;
  font-weight: 700;
}

.about-me-link:hover {
  background-color: #faefdb;
  box-shadow: inset 0 0 4px rgb(255, 238, 204);
}

.read-poem-link {
  background-color: rgb(9, 5, 65);
  color: var(--main-white);
  flex: 1;
  text-align: center;
  outline: none;
}

.read-poem-link:hover {
  background-color: rgb(9, 2, 82);
}

.read-poem-link:focus {
  outline: none;
  background-color: rgb(11, 1, 128);
}

.about-me-link:focus {
  background-color: #ffdfa4;
  box-shadow: inset 0 0 4px rgb(255, 231, 182);
}

.hero-img-container {
  width: 550px;
  height: 750px;
  overflow: hidden;
  display: none;
}


/* About Section */

.about-section {
  gap: 3em;
  max-width: 578px;
}

h2 {
  font-size: 2.3rem;
}

.about-text {
  gap: 1.5em;
}

.about-text > p {
  font-size: 1.2rem;
}

/* Poetry Section */

.poetry-section {
  font-family: "Caveat", cursive;
}

.poem {
  background-image: url(./images/page-2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  padding: 1em;
  gap: 1em;
}

.poem-text > div {
  margin-block: -0.8em;
}

.poem-text > .spacer {
  margin-block: -2.5em;
}

.poem > .poem-text {
  line-height: 1.5;
  font-size: 1.5rem;
  white-space: pre-line;
}

h3 {
  text-align: center;
  font-size: 1.8rem;
}

/* Contact Me Section */

.contact-section {
  align-items: center;
  gap: 3em;
  width: 100%;
}

.contact-section > h2 {
  align-self: center;
}

form, input, textarea, .form-btn {
  width: 100%;
  outline: none;
}

textarea {
  resize: none;
}

.email-section {
  background: #77009C;
  background: linear-gradient(180deg,rgba(119, 0, 156, 1) 0%, rgba(78, 0, 156, 1) 100%);
  padding: 1em;
}

form {
  gap: 1.25em;
  max-width: 578px;
}

input, textarea, .form-btn {
  padding: 0.5em;
  border: 1px solid transparent;
  font-size: 1rem;
  border-radius: 0.15em;
  background-color: rgb(255, 249, 236);
}

form:focus, input:focus, textarea:focus, .form-btn:focus {
  border: 1px solid var(--main-black);
}

.form-btn {
  padding: 0.8em 0.5em;
}

::placeholder {
  color: #505050b7;
  font-weight: 300;
  font-family: "Lexend", sans-serif;
}

/* Footer */

footer {
  margin-top: 10em;
  flex-direction: column;
  padding: 2em;
  background-color: var(--main-black);
  color: var(--main-white);
  gap: 2em;
}

.social-media {
  display: flex;
  gap: 2.5em;
}

.social-media-link {
  padding: 0.1em 0.3em;
}

.fa-brands {
  transition: transform 0.2s ease-in-out;
}

.fa-brands:hover, .fa-brands:focus {
  transform: scale(1.15);
}

/* Utility */

.about-text, .about-img, .poem, .contact-heading, form, .in-text-hero-img-container, .hero-img-container {
  transform: translateY(100px);
  opacity: 0;
  overflow: hidden;
}

.poem-text .char {
  display: inline-block;
  white-space: pre;
}

.poem-text .word {
  display: inline-block;
  white-space: nowrap;
}

.hero-link, h1, .tagline {
  opacity: 0;
}

.hero-link {
  transform: translateY(40px);
}

h1 {
  transform: translateX(-300px);
}

.tagline {
  transform: translateX(300px);
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
}


@media (min-width: 425px) {

  h1 {
    font-size: 5.5rem;
  }

  .hero-text {
    gap: 3em;
  }

  .tagline {
    font-size: 2rem;
  }
  .buttons {
    margin-top: -1em;
  }

  .buttons > a {
    padding: 0.8em 1.2em;
  }

  .about-me-link {
    min-width: 150px;
    text-align: center;
  }

  h2 {
    font-size: 3rem;
  }

  .about-text > p {
    font-size: 1.4rem;
  }

}

@media (min-width: 768px) {
  input, textarea, .form-btn {
    padding: 0.7em;
  }

  main {
    gap: 20em;
  }
}

@media (min-width: 1024px) {
  .hero-section {
    gap: 3em;
  }

  .hero-text {
    max-width: 500px;
    gap: 1.5em;
  }

  h1 {
    font-size: 5rem;
  }

  .tagline {
    font-size: 1.6rem;
    line-height: 1.3;
  }

  .buttons {
    justify-content: flex-start;
    margin-top: 0;
  }

  .buttons > a {
    padding: 0.7em 1.6em;
  }

  .read-poem-link {
    flex: unset;
  }

  .in-text-hero-img-container {
    display: none;
  }

  .hero-img-container {
    width: 35%;
    height: fit-content;
    overflow: hidden;
    display: block;
  }


  .about-section {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 3em;
    max-width: 100%;
  }

  h2 {
    font-size: 4rem;
  }

  .about-text {
    gap: 2.5em;
    max-width: 500px;
    text-align: center;
  }

  .about-text > p {
    font-size: 1.4rem;
  }

  .about-img {
    max-width: 35%;
  }

  .social-media {
    gap: 3.5em;
  }

}


@media (min-width: 1440px) {
  .hero-section {
    gap: 4em;
  }

  .hero-text {
    max-width: 700px;
    gap: 2.5em;
  }

  h1 {
    font-size: 8rem;
  }

  .tagline {
    font-size: 2.5rem;
  }

  .buttons > a {
    padding: 0.7em 3em;
  }

  .about-section {
    gap: 4em;
    max-width: 1264px;
  }

  .about-text {
    max-width: 700px;
  }

  .about-img {
    max-width: 35%;
  }

  h3 {
    font-size: 2.5rem;
  } 

  .poem > .poem-text {
    font-size: 1.8rem;
  }

  .poem {
    padding: 2em;
    gap: 2em;
  }

}


@media (min-width: 1600px) {
  .hero-section {
    gap: 7em;
  }

  .hero-text {
    max-width: 700px;
    gap: 2.5em;
  }

  h1 {
    font-size: 8rem;
  }

  .tagline {
    font-size: 2.5rem;
  }

  .buttons > a {
    padding: 0.7em 3em;
  }

  .hero-img-container {
    width: 550px;
    height: auto;
    overflow: hidden;
  }

  .about-section {
    gap: 7em;
    max-width: 1394px;
  }

  .about-text {
    line-height: 1.7;
  }

  .about-text > p {
    font-size: 1.6rem;
  }

  .about-img {
    max-width: 550px;
  }

}